.heading-frm{
    font-size: 1em;
    font-family: ui-serif;
    font-weight: bold;
    margin-left: 22.2em;
}

.heading-btn{
    font-size: 1em;
    font-family: ui-serif;
    font-weight: bold;
    margin-left: 30.8em;
}

.tbl-statistics{
    margin-left: 14.5em;
    margin-top: 2em;
    
}

table ,th, td{
    border: 1px solid;
}